<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options -Indexes
ErrorDocument 400 /error_pages/Other_Error.shtml
ErrorDocument 401 /error_pages/Other_Error.shtml
ErrorDocument 402 /error_pages/Other_Error.shtml
ErrorDocument 403 /error_pages/403.shtml
ErrorDocument 404 /error_pages/404.shtml
ErrorDocument 405 /error_pages/Other_Error.shtml
ErrorDocument 406 /error_pages/Other_Error.shtml
ErrorDocument 407 /error_pages/Other_Error.shtml
ErrorDocument 408 /error_pages/Other_Error.shtml
ErrorDocument 409 /error_pages/Other_Error.shtml
ErrorDocument 410 /error_pages/Other_Error.shtml
ErrorDocument 411 /error_pages/Other_Error.shtml
ErrorDocument 412 /error_pages/Other_Error.shtml
ErrorDocument 413 /error_pages/Other_Error.shtml
ErrorDocument 414 /error_pages/Other_Error.shtml
ErrorDocument 500 /error_pages/Other_Error.shtml
ErrorDocument 501 /error_pages/Other_Error.shtml
ErrorDocument 502 /error_pages/Other_Error.shtml
ErrorDocument 503 /error_pages/Other_Error.shtml
ErrorDocument 504 /error_pages/Other_Error.shtml
ErrorDocument 505 /error_pages/Other_Error.shtml
DirectoryIndex index.html
order deny,allow
Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]